@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "K2D", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpeg) no-repeat center/cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.wrapper {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: inline-block;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    width: 150px;
    text-align: right;
    color: white;
}

label:hover {
    color: #FFD700;
    text-shadow: 1px 1px 2px #000;
}

input,
textarea,
select {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: both;
}

input:hover,
textarea:hover,
select:hover {
    background-color: wheat;
    border: 2px solid #FFD700;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

button[type="reset"] {
    background-color: #FF6347;
    color: white;
}

button[type="reset"]:hover {
    background-color: #FF4500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="submit"]:hover {
    background-color: #45A049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}